.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}

ul,
p {
    margin: 0;
}

.nav-item {
    display: flex;

}

.user {
    padding: 0px 20px;
}

.main-nav ul li {
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
}

.main-nav ul li::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffc107;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: 0.3s;
}

.main-nav ul li:hover::after {
    left: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: #253b56;
    font-weight: bold;
    text-transform: uppercase;
}

.languae a {
    text-decoration: none;
    color: #000;
}

.user a {
    text-decoration: none;
    color: #000;
}

.search a {
    text-decoration: none;
    color: #000;
}

.bg-header {
    background-color: #fff;
}



.togel {



    font-size: 30px;
    color: #fff;

}

.togel a {
    color: #000;
}

/* responsive header */
@media screen and (max-width: 1020px) {
    .main-nav {
        display: none;
    }

    .icon-nav {

        display: none;
    }

    .header {
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header a {
        margin-left: 30px;
    }

    .nav-mobile ul li {
        display: block;
        padding: 10px 5px;

    }

    .nav-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }

    .nav {
        position: relative;

    }

    .nav::after {
        content: "";
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: -3;
        position: absolute;
    }

    ul {
        padding: 0;
    }

}

@media screen and (min-width:1020px) {
    .togel {
        display: none;

    }





}