<div class="attractions">
    <div class="banner">
        <span>
            food court
        </span>
    </div>
    <div class="content">
        <div class="text-content">
            <h3>Explore Dreamland Park Attractions</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet et modi ratione exercitationem, tenetur
                illo
            </p>
        </div>
        <div class="content-images">
            <div class="container">
                <div class="row">
                    <div class="image-attraction col-lg-4 " *ngFor="let item of list">
                        <div class="image">
                            <img src="{{item.image}}" alt="">
                        </div>
                        <span class="image-text">
                            <div class="text-block">
                                <h3>{{item.name}}</h3>
                                <span>{{item.content}}</span>
                            </div>
                        </span>
                        <div class="btn-image">
                            <a>Book Now</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="end-attractions d-flex align-items-center">
        <div class="left-end col-lg-6">
            <div class="content-left">
                <h2>The Best Theme & Amusement Park For Your Family</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae odio, earum quo deleniti
                    facere. Molestiae, hic. Explicabo ex porro doloribus corporis, ducimus veritatis qui atque quidem,
                    assumenda, labore amet!</p>
                <div class="boxs-content d-flex flex-wrap">
                    <div class="box-item d-flex col-lg-6">
                        <div class="icon-box">
                            <i class="fa-solid fa-champagne-glasses"></i>
                        </div>
                        <div class="texts-box">
                            <h4>Food & Drinks</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="box-item d-flex col-lg-6">
                        <div class="icon-box">
                            <i class="fa-solid fa-bullseye"></i>
                        </div>
                        <div class="texts-box">
                            <h4>
                                Many Attractions</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="box-item d-flex col-lg-6">
                        <div class="icon-box">
                            <i class="fa-solid fa-piggy-bank"></i>
                        </div>
                        <div class="texts-box">
                            <h4>
                                Affordable Price</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="box-item d-flex col-lg-6">
                        <div class="icon-box">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="texts-box">
                            <h4>Safety Lockers</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rigth-end col-lg-6">
            <div class="image-end">

            </div>
        </div>
    </div>
</div>