<div class="banner">
  <owl-carousel-o [options]="customOptions" class="banner-item">
    <ng-template carouselSlide
      ><video
        class="data-v-7bad2a4a= card-img"
        playsinline=""
        muted="muted"
        loop="true"
        autoplay="autoplay"
      >
        <source
          data-v-7bad2a4a=""
          src="https://media.oceanpark.com.hk/ww/media/4b2dbqrb/20220526-ww-video-banner-d.mp4"
          type="video/mp4"
        /></video
    ></ng-template>
    <ng-template carouselSlide
      ><img
        class="card-img"
        src="https://media.oceanpark.com.hk/ww/media/phgptb5q/op-homepage_banner_desktop-en.jpg"
        alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img
        class="card-img"
        src="https://media.oceanpark.com.hk/ww/media/hgdolifx/homepage_banner_desktop-summer-en-v3.jpg"
        alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img
        class="card-img"
        src="https://media.oceanpark.com.hk/ww/media/i40f2fey/visa-ww-desktop-banner-en.jpg"
        alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img
        class="card-img"
        src="https://media.oceanpark.com.hk/ww/media/mdtci3s0/homepage_banner_desktop-en.jpg"
        alt=""
    /></ng-template>
  </owl-carousel-o>
  <div class="buy-ticket">
    <div class="ticket-text">Get The Limited Offer Now!</div>
    <div class="ticket">
      <a href="">BUY TICKETS</a>
    </div>
  </div>
</div>
<div class="togel">
  <a href=""><i class="fa-solid fa-bars"></i></a>
</div>






<!-- Discover water world -->
<div class="content-water">
  <div class="text-water">
    <h3>Discover Water World</h3>
  </div>
  <div class="img-water">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-water">
            <img
              class="card-img img-content-top deg1 card-img"
              src="https://media.oceanpark.com.hk/ww/media/ci0ghiqs/riptide-tn.jpg"
              alt=""
            />
            <div class="card-body text-icon text-deg1">
              <h4 class="card-title">Riptide</h4>
              <p class="card-text">
                An action river with a magnificent ocean view, for adventurers
                to walk, swim or float through a variety of water features.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-water">
            <img
              class="card-img-top card-img img-icon"
              src="https://media.oceanpark.com.hk/ww/media/2zsj2prv/cyclone-spin-tn.jpg"
              alt=""
            />
            <div class="card-body text-icon">
              <h4 class="card-title">
                Cyclone Spin <br />
                Tropical Twist
              </h4>
              <p class="card-text">
                Two tube slides for single or double riders, where they can
                twist and turn through its serpentine sections.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-water">
            <img
              class="card-img-top deg2 card-img"
              src="https://media.oceanpark.com.hk/ww/media/35umttdt/whiskers-splash-tn.jpg"
              alt=""
            />
            <div class="card-body text-icon  text-deg2">
              <h4 class="card-title">Whiskers' Splash</h4>
              <p class="presented">Presented by Monkey Tree</p>
              <p class="card-text">
                A multi-level interactive play structure including six special
                areas, a maze, and a toddler's pool.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fun for day -->
<div class="activities">
  <div class="fun-text">
    <h3>Fun For Day</h3>
  </div>
  <div class="activities-day">
   
    <owl-carousel-o [options]="customOptions2">
      <ng-template carouselSlide>
          <div class="slide">
              <img class="card-img img-content" src="http://worldavenues.com.my/img/htw_entParks.jpg">
          </div>
          
      </ng-template>

      <ng-template carouselSlide>
        <div class="slide">
            <img class="card-img img-content" src="https://www.chudu24.com/wp-content/uploads/2018/07/1-12.png">
        </div>
        
    </ng-template>
  
    <ng-template carouselSlide>
      <div class="slide">
          <img class="card-img img-content" src="https://www.mayflower.com.my//media/327873/10-must-visit-parks-7.jpg">
      </div>
      
  </ng-template>
  
  <ng-template carouselSlide>
    <div class="slide">
        <img class="card-img img-content" src="https://www.kawahdinosaur.com/uploads/Dinosaur-Park-2.jpg">
    </div>
    
</ng-template>

<ng-template carouselSlide>
  <div class="slide">
      <img class="card-img img-content" src="https://medias.momentfactory.com/2019/06/Moment_Factory_Themed_Entertainment_Wonderbox_Paradise_city_korea_DSC07908-WS-960x574.jpg">
  </div>
  
</ng-template>
<ng-template carouselSlide>
  <div class="slide">
      <img class="card-img img-content" src="http://res.heraldm.com/content/image/2016/08/19/20160819001166_0.jpg">
  </div>
  
</ng-template>
  </owl-carousel-o>
</div>


<!-- event -->
<div class="event">
  <div class="event-text">
    <h3>Events</h3>
  </div>
  <div class="event-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="https://smiletravel.com.vn/wp-content/uploads/2020/04/sai-gon-cong-vien-suoi-tien.jpg" alt="Paris" style="width:100%;height:200px">
                </div>
                <div class="flip-box-back">
                  <h2>Paris</h2>
                  <p>What an amazing city</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="card">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="https://smiletravel.com.vn/wp-content/uploads/2020/04/sai-gon-cong-vien-suoi-tien.jpg" alt="Paris" style="width:100%;height:200px">
                </div>
                <div class="flip-box-back">
                  <h2>Paris</h2>
                  <p>What an amazing city</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="card">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="https://smiletravel.com.vn/wp-content/uploads/2020/04/sai-gon-cong-vien-suoi-tien.jpg" alt="Paris" style="width:100%;height:200px">
                </div>
                <div class="flip-box-back">
                  <h2>Paris</h2>
                  <p>What an amazing city</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
