<div class="banner-about">
  <div class="banner">
    <span> CONTACT US </span>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-left">
          <div class="get-in">
            <h4>GET IN TOUCH</h4>
          </div>
          <div class="information">
            <h3>CONTACT US TO GET BETTER INFORMATION</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur minima ex soluta id repudiandae neque temporibus
              quaerat, corrupti ab suscipit non, sed ipsum quae. Vel explicabo
              reiciendis veritatis nobis ratione.
            </p>
          </div>
          <div class="address">
          <div class="row">
            <div class="col-lg-6">
                <div class="left-add">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="right">
                   <h3>Loaction</h3>
                   <p>Jl. Raya Ubud No.88, Bali 80571</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="left-add">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="right">
                   <h3>
                    Drop Us a Line</h3>
                    <p>support@domain.com</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
