<footer class="">
    <div class="">
        <div class="start_footer">
            <div class="start_left_footer">
                <h1>Ocean Park</h1>
            </div>
            <div class="start_right_footer">
                <h3>Get the latest news and offers</h3>
                <div class="">
                    <ul class="">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-weibo"></i></a></li>              
                    </ul>
                </div>
            </div> 
        </div>
              
        <div class="mid_footer">
            <div class="">
                <ul class="">
                    <li><a href="" routerLink="" >Discover</a></li>
                    <li><a href="" routerLink="" >Discover Water World</a></li>
                    <li><a href="" routerLink="" >Virtual Tour</a></li>
                    <li><a href="" routerLink="" >Green Design</a></li>
                    <li><a href="" routerLink="" >Safety and Hygiene</a></li>
                    <li><a href="" routerLink="" >What's New</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="">
                    <li><a href="" routerLink="" >The Experience</a></li>
                    <li><a href="" routerLink="" >Attractions</a></li>
                    <li><a href="" routerLink="" >Shoppping</a></li>
                    <li><a href="" routerLink="" >Dining</a></li>
                    <li><a href="" routerLink="" >Stay</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="">
                    <li><a href="" routerLink="" >Plan Your Visit</a></li>
                    <li><a href="" routerLink="" >Getting Here</a></li>
                    <li><a href="" routerLink="" >Get Your Essentials</a></li>
                    <li><a href="" routerLink="" >Park Houurs & Schedule</a></li>
                    <li><a href="" routerLink="" >Park Map</a></li>
                    <li><a href="" routerLink="" >Guest Services and Facilities</a></li>
                    <li><a href="" routerLink="" >Frequently Asked Questions</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="">
                    <li><a href="" routerLink="" >Water World Tickets</a></li>
                    <li><a href="" routerLink="" >Membership</a></li>
                    <li><a href="" routerLink="" >Special Offers</a></li>
                    <li><a href="" routerLink="" >Special Experience and Service</a></li>
                    <li><a href="" routerLink="" >Plan Your Event</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="">
                    <li><a href="" routerLink="" >Online Reservation</a></li>
                    <li><a href="" routerLink="" >Dated Tiket Holder</a></li>
                    <li><a href="" routerLink="" >Open Dated Tiket Holder</a></li>
                    <li><a href="" routerLink="" >Pass Holders</a></li>
                </ul>
            </div>
        </div>
        <div class="end_footer">
            <ul class="">
                <li><a href="" routerLink="" >Contact Us</a></li>
                <li><a href="" routerLink="" >Careers</a></li>
                <li><a href="" routerLink="" >Press Release</a></li>
                <li><a href="" routerLink="" >Corporate Information</a></li>
                <li><a href="" routerLink="" >Corporate Policy</a></li>
                <li><a href="" routerLink="" >Rules and Regulations</a></li>
                <li><a href="" routerLink="" >Weather Arrangements</a></li>
            </ul>
        </div>
        
        

        
        <div class="note">
            <h5>Water World Ocean Park Hong Kong, 33 Ocean Drive, Aberdeen, Hong Kong © 2022 Copyright Water World Ocean Park Hong Kong. All rights reserved.</h5>
        </div>
    </div>
</footer>