<div class="ticket">
    <div class="banner">
        <span>
            Ticket Packages
        </span>
    </div>
    <div class="content-ticket">
        <div class="header-content">
            <span>
                TICKET PACKAGES
            </span>
            <h1>Choose The Best Packages </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua</p>
        </div>
        <div class="packages ">
            <div class="container">
                <div class="row">
                    <div class="package-item col-lg-4">
                        <div class="premium">
                            <h2>Premium Packages</h2>
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit dolore magna aliqua</p>
                            <div class="price">
                                <span>$529</span>/family
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="package-item col-lg-4">
                        <div class="family">
                            <h2>Family Packages</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consecte adipiscing elit dolore
                            </p>
                            <div class="price">
                                <span>$349</span>/family
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="package-item col-lg-4">
                        <div class="basic">
                            <h2>Basic Packages</h2>
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit dolore magna aliqua</p>
                            <div class="price">
                                <span>$99</span>/person
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>