<div class="ticket">
    <div class="banner">
        <span>
            Ticket Packages
        </span>
    </div>
    <div class="content-ticket">
        <div class="header-content">
            <span>
                TICKET PACKAGES
            </span>
            <h1>Choose The Best Packages </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua</p>
        </div>
        <div class="packages ">
            <div class="container">
                <div class="row">
                    <div class="package-item col-lg-4" id="scroll1">
                        <div class="premium ">
                            <h2>Premium Packages</h2>
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit dolore magna aliqua</p>
                            <div class="price">
                                <span>$529</span>/family
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                            <button type="button" name="" id="" class="btn btn-warning w-100 mt-4 btn-book" btn-lg
                                btn-block>Book
                                Now</button>
                        </div>
                    </div>
                    <div class="package-item col-lg-4" id="scroll2">
                        <div class="family">
                            <h2>Family Packages</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consecte adipiscing elit dolore
                            </p>
                            <div class="price">
                                <span>$349</span>/family
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                            <button type="button" name="" id="" class="btn btn-warning w-100 mt-4 btn-book" btn-lg
                                btn-block>Book
                                Now</button>
                        </div>
                    </div>
                    <div class="package-item col-lg-4" id="scroll3">
                        <div class="basic">
                            <h2>Basic Packages</h2>
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit dolore magna aliqua</p>
                            <div class="price">
                                <span>$99</span>/person
                            </div>
                            <div class="infor">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">All Access To Dreamland</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">2 Adults + 3 Child</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Platform Access</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Watch One Entertainment</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                    <span class="text">Free Soft Drinks</span>
                                </div>
                            </div>
                            <button type="button" name="" id="" class="btn btn-warning w-100 mt-4 btn-book" btn-lg
                                btn-block>Book
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="form-ticket">
            <div class="bg-ticket">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 left-form">
                            <form action="">
                                <div class="form-top d-flex flex-wrap">
                                    <div class="form-item">
                                        <label for="">Name</label>
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <div class="form-item">
                                        <label for="">Email</label>
                                        <input type="text" placeholder="Your Email">
                                    </div>
                                    <div class="form-item">
                                        <label for="">Phone Number</label>
                                        <input type="text" placeholder="Telephone">
                                    </div>
                                    <div class="form-item">
                                        <label for="">Packages</label>
                                        <select name="" id="">
                                            <option value="Premium">Premium</option>
                                            <option value="Family">Family</option>
                                            <option value="Basic">Basic</option>
                                        </select>
                                    </div>
                                    <div class="form-item">
                                        <label for="">Date</label>
                                        <input type="date" placeholder="Your Name">
                                    </div>
                                    <div class="form-item">
                                        <label for="">Guests</label>
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <div class="form-item" style="width: 100%;">
                                        <label for="">Dreamland Location</label>
                                        <select style="width: 100%;">
                                            <option value="">Indonesia</option>
                                            <option value="">Singapore</option>
                                            <option value="">Japan</option>
                                            <option value="">USA</option>
                                        </select>
                                    </div>
                                    <div class="form-item" style="width: 100%;">
                                       <textarea name="" id="" cols="30" rows="10" style="width: 100%;" placeholder="Additional Information (Optional)" aria-invalid="false"></textarea>
                                    </div>
                                </div>
                                <div class="booking-now">
                                    <button class="">Booking now</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 right-form">
                            <div class="content-right">
                                <p class="color-right">Book now</p>
                                <h1>Spend Your Holiday At Dreamland Park</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim adiqua minim veniam quis nostrud exercitation
                                    ullamco incididunt magna aliqua veniam
                                </p>
                                <h3>Opening Hours</h3>
                                <div class="opening">
                                    <div class="hours-item d-flex  justify-content-between">
                                        <span>Monday - Friday</span>
                                        <span><i class="fa-solid  fa-clock"></i> 09.00 AM - 18.00 PM</span>
                                    </div>
                                    <div class="hours-item d-flex justify-content-between">
                                        <span>Monday - Friday</span>
                                        <span><i class="fa-solid fa-clock"></i> 09.00 AM - 18.00 PM</span>
                                    </div>
                                    <div class="hours-item d-flex justify-content-between">
                                        <span>Monday - Friday</span>
                                        <span><i class="fa-solid fa-clock"></i> 09.00 AM - 18.00 PM</span>
                                    </div>
                                </div>
                                <div class="info d-flex justify-content-between mt-4">
                                    <div class="info-item d-flex">
                                        <i class="fa-solid fa-envelope"></i>
                                        <div class="texts-info">
                                            <h3>Email Address</h3>
                                            <p>support@domain.com</p>
                                        </div>
                                    </div>
                                    <div class="info-item d-flex">
                                        <i class="fa-solid fa-phone"></i>
                                        <div class="texts-info">
                                            <h3>Phone Number</h3>
                                            <p>0987654321</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>